/* #region FONTS */
@font-face {
    font-family: Merriweather;
    src: url(Font/Merriweather.ttf);
}
@font-face {
    font-family: WorkSans;
    src: url(Font/WorkSans.ttf);
}
/* #endregion */
:root{
    font-size: 62.5%;
}
::-webkit-scrollbar
{
    background-color: rgb(209, 209, 209);

}
::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    background-color: #eb9834;

}
html
{
    scroll-behavior: smooth;
    
}
body
{
    width: 100%;
    background-color: white;

    padding: 0;
    margin: 0;

    font-size: 1.6rem;
}

.headerDiv1
{
    padding: .5% 5%;
    display: flex;
    justify-content: space-between;



}
.locationsContainer
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    width: 50%;


}
.locationsContainer div
{
    display: flex;
    justify-content: center;
}

.locationsContainer img
{
    width: 7rem;
    align-self: center;
}

.locationsContainer p
{
    align-self: center;
    font-size: 2rem;
    font-family: worksans;
}

.headerLogo
{
    display: flex;
}

.headerLogo img
{
    width: 100%;
}


span
{
    font-family: merriweather;
    font-size: 1.2rem;
    color: #666666;
}