/* #region FONTS */
@font-face {
    font-family: decorFont;
    src: url(Font/Pair2/CinzelDecorative.ttf);
}
@font-face {
    font-family: titleFont;
    src: url(Font/Pair2/Cinzel.ttf);
}
@font-face {
    font-family: textFont;
    src: url(Font/Pair2/FaunaOne.ttf);
}
@font-face {
    font-family: slideTitle;
    src: url(Font/Pair4/BarlowCondensed-Regular.ttf);
}
@font-face {
    font-family: slideText;
    src: url(Font/Pair4/AcariSans-Regular.ttf);
}
/* #endregion */
:root{
    font-size: 62.5%;
}
::-webkit-scrollbar
{
    background-color: rgb(209, 209, 209);

}
::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    background-color: #eb9834;

}
html
{
    scroll-behavior: smooth;
    
}
body
{
    overflow-x: hidden;
    background-color: #c3c3c3;
    width: 100%;
    
    padding: 0;
    margin: 0;

    font-size: 1.6rem;
}
/* #region LOADING PAGE */

.loading
{

    position: fixed;

    display: flex;

    justify-content: center;
    align-items: center;

    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: white;

    transition-duration: 1000ms;
    

}
.loading h1{
    color: #f08c13;

    font-family: slideTitle;
    font-size: 10vw;
    text-transform: uppercase;

    text-align: center;
    user-select: none;

}
.loading h1 span{
    color: #313135;

}
.loading_hide
{
    opacity: 0;
    visibility: hidden;    
}

/* #endregion */

/* #region HEADER */
header
{
    width: 100vw;
    background-color: #ffffff;
}
.headerDiv1
{

    padding: 0% 2%;
    display: flex;
    justify-content: space-between;

}

.headerLogo
{
    display: flex;
    width: 11%;
}

.headerLogo img
{
    align-self: center;
    width: 100%;
}

.headerTitle
{
    align-self: center;
    width: 20%;
}

.headerTitle h1
{
    
    user-select: none;
    color: #eb9834;
    font-family: decorFont;
    font-size: 3rem;
    text-align: center;

}
.headerTitle span
{
    font-size: 3.5rem;
}
.headerDiv2
{
    background-color: #313135;
    border-bottom: #eb9834 .3rem solid ;
    border-top: #eb9834 .5rem solid;
}
.headerDiv2 ul
{
    list-style-type: none;

    display: flex;
    justify-content: center;
    margin: 0;
    padding: 3rem 0;
}
.headerDiv2 li
{
    padding: 0 4rem;

    
}
.headerDiv2 a
{
    padding: 2rem 0;
    color: #eb9834;
    font-size: 2rem;
    text-decoration: none;
    font-family: titleFont;
    transition: color 400ms, font-size 400ms;

}

.headerDiv2 a:hover
{
    color: white;
    font-size: 2.2rem;
}
/* #endregion */

/* #region SLIDER */
.slider
{
    
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;


}
.slides
{
    
    width: 500%;
    display: flex;
    
}
.slides input
{
    display: none;
}
.slide
{
    
    width: 100vw;
    transition: 2000ms;
}
.slide .slide1title
{
    opacity: 0;
    font-family: slideTitle;
    color: white;
    -webkit-text-stroke: #eb9834 .15rem;
    width: 100%;
    position: absolute;
    font-size: 20rem;
    top: 22%;
    text-align: center;
    user-select: none;

    transition: 2000ms;
}
.slide .slide2title
{
    opacity: 0;
    font-family: slideTitle;

    color: white;
    width: 100%;
    position: absolute;
    font-size: 12rem;
    top: 25%;
    text-align: center;
    user-select: none;

    transition: 2000ms;
}
.slide .slide3title
{
    opacity: 0;
    font-family: slideTitle;

    color: white;
    width: 100%;
    position: absolute;
    font-size: 11rem;
    top: 25.5%;
    text-align: center;
    user-select: none;

    transition: 2000ms;
}
.slide .slide4title
{
    opacity: 0;
    font-family: slideTitle;

    color: white;
    width: 100%;
    position: absolute;
    font-size: 11rem;
    top: 20%;
    text-align: center;
    user-select: none;

    transition: 2000ms;
}
.slide img
{
    width: 100%;
}
.slideManualNav
{
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.manualBtn
{
    border: .25rem solid #ffffff;
    padding: .8rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 1000ms;
}
.manualBtn:not(:last-child)
{
    margin-right: 3rem;
}
.manualBtn:hover
{
    background:white;
}

#slideRadio1:checked ~ .first
{
    margin-left: 0;
}

#slideRadio2:checked ~ .first
{
    margin-left: -20%;
}

#slideRadio3:checked ~ .first
{
    margin-left: -40%;
}

#slideRadio4:checked ~ .first
{
    margin-left: -60%;
}


#slideRadio1:checked ~ .slide #txt1
{
    opacity: 100;
}

#slideRadio2:checked ~ .slide #txt2
{
    opacity: 100;
}

#slideRadio3:checked ~ .slide #txt3
{
    opacity: 100;
}

#slideRadio4:checked ~ .slide #txt4
{
    opacity: 100;
}

.slideAutoNav
{
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.slideAutoNav div
{
    border: .25rem solid #ffffff;
    padding: .8rem;
    border-radius: 50%;
    transition: 1000ms;
}
.slideAutoNav div:not(:last-child)
{
    margin-right: 3rem;

}

#slideRadio1:checked ~ .slideAutoNav .autoBtn1
{
    background:#ffffff;
    

}

#slideRadio2:checked ~ .slideAutoNav .autoBtn2
{
    background:#ffffff;
    

}

#slideRadio3:checked ~ .slideAutoNav .autoBtn3
{
    background:#ffffff;
    

}
#slideRadio4:checked ~ .slideAutoNav .autoBtn4
{
    background:#ffffff;
    

}



/* #endregion */

/* #region MEDIA */
@media (max-width: 480px) {
    .headerDiv1
    {

        padding: 1% 0%;
        display: grid;
        justify-content: center;

    }
    .headerLogo
    {
        display: flex;
        width: 30%;
        justify-self: center;

    }

    .headerTitle
    {
        width: 100%;
    }
    .headerTitle h1
    {
        font-size: 1.3rem;

    }
    .headerTitle span
    {
        font-size: 1.6rem;
    }

    .headerDiv2
    {
        border-bottom: #eb9834 .2rem solid ;
        border-top: #eb9834 .3rem solid;
    }

    .headerDiv2 ul
    {
        padding: 1rem 0;
    }
    .headerDiv2 li
    {
        padding: 0 1rem;
    }
    .headerDiv2 a
    {
        padding: 1rem 0;
        font-size: 1.2rem;
    }

    .headerDiv2 a:hover
    {
        font-size: 1.3rem;
    }

    
/* #region SLIDER */
    .slider
    {
        margin: 0 auto;
        width: 100vw;
        height: auto;
        overflow: hidden;
    }
    .slide
    {   
        width: 100vw;
        transition: 2000ms;
    }
    .slide .slide1title
    {
        -webkit-text-stroke: #eb9834 .05rem;
        font-size: 3.5rem;
        top: 7%;
    }
    .slide .slide2title
    {

        font-size: 2.5rem;
        top: 7%;

    }
    .slide .slide3title
    {
        font-size: 2rem;
        top: 8%;
    }
    .slide .slide4title
    {
        font-size: 2rem;
        top: 7%;
    }

    .slideManualNav
    {
        margin-top: 1rem;
    }
    .manualBtn
    {
        border: .1rem solid #ffffff;
        padding: .3rem;
    }
    .manualBtn:not(:last-child)
    {
        margin-right: 2rem;
    }

    .slideAutoNav
    {
        margin-top: 1rem;
    }
    .slideAutoNav div
    {
        border: .1rem solid #ffffff;
        padding: .3rem;
    }
    .slideAutoNav div:not(:last-child)
    {
        margin-right: 2rem;
    }



/* #endregion */
}

@media (min-width: 430px) and (max-width: 480px) {
    .slide .slide1title
    {
        -webkit-text-stroke: #eb9834 .05rem;
        font-size: 3.5rem;
        top: 10%;
    }
    .slide .slide2title
    {

        font-size: 2.5rem;
        top: 10%;

    }
    .slide .slide3title
    {
        font-size: 2rem;
        top: 11%;
    }
    .slide .slide4title
    {
        font-size: 2rem;
        top: 10%;
    }
}
@media (min-width: 480.5px) and (max-width: 564px) {
    .headerDiv1
    {

        padding: 1% 0%;
        display: grid;
        justify-content: center;

    }
    .headerLogo
    {
        display: flex;
        width: 30%;
        justify-self: center;

    }

    .headerTitle
    {
        width: 100%;
    }
    .headerTitle h1
    {
        font-size: 1.6rem;

    }
    .headerTitle span
    {
        font-size: 2rem;
    }

    .headerDiv2
    {
        border-bottom: #eb9834 .2rem solid ;
        border-top: #eb9834 .3rem solid;
    }

    .headerDiv2 ul
    {
        padding: 1rem 0;
    }
    .headerDiv2 li
    {
        padding: 0 1rem;
    }
    .headerDiv2 a
    {
        padding: 1rem 0;
        font-size: 1.6rem;
    }

    .headerDiv2 a:hover
    {
        font-size: 1.8rem;
    }
    /* #region SLIDER */
    .slider
    {
        margin: 0 auto;
        width: 100vw;
        height: auto;
        overflow: hidden;
    }
    .slide
    {   
        width: 100vw;
    }
    .slide .slide1title
    {
        -webkit-text-stroke: #eb9834 .05rem;
        font-size: 5rem;
        top: 7%;
    }
    .slide .slide2title
    {

        font-size: 3rem;
        top: 8%;

    }
    .slide .slide3title
    {
        font-size: 2.8rem;
        top: 8%;
    }
    .slide .slide4title
    {
        font-size: 2.5rem;
        top: 7%;
    }

    .slideManualNav
    {
        margin-top: 1rem;
    }
    .manualBtn
    {
        border: .2rem solid #ffffff;
        padding: .4rem;
    }
    .manualBtn:not(:last-child)
    {
        margin-right: 2rem;
    }

    .slideAutoNav
    {
        margin-top: 1rem;
    }
    .slideAutoNav div
    {
        border: .2rem solid #ffffff;
        padding: .4rem;
    }
    .slideAutoNav div:not(:last-child)
    {
        margin-right: 2rem;
    }



/* #endregion */

}

@media (min-width:564.5px) and (max-width: 1120px) {
    .headerDiv1
    {

        padding: 1% 0%;
        display: grid;
        justify-content: center;

    }
    .headerLogo
    {
        display: flex;
        width: 36%;
        justify-self: center;

    }

    .headerTitle
    {
        width: 100%;
    }
    .headerTitle h1
    {
        font-size: 2rem;

    }
    .headerTitle span
    {
        font-size: 2.6rem;
    }

    .headerDiv2
    {
        border-bottom: #eb9834 .3rem solid ;
        border-top: #eb9834 .4rem solid;
    }

    .headerDiv2 ul
    {
        padding: 2rem 0;
    }
    .headerDiv2 li
    {
        padding: 0 2rem;
    }
    .headerDiv2 a
    {
        padding: 2rem 0;
        font-size: 1.8rem;
    }

    .headerDiv2 a:hover
    {
        font-size: 1.3rem;
    }

    .headerDiv1
    {

        padding: 1% 0%;
        display: grid;
        justify-content: center;

    }
    .headerLogo
    {
        display: flex;
        width: 30%;
        justify-self: center;

    }

    .headerTitle
    {
        width: 100%;
    }
    .headerTitle h1
    {
        font-size: 1.6rem;

    }
    .headerTitle span
    {
        font-size: 2rem;
    }

    .headerDiv2
    {
        border-bottom: #eb9834 .2rem solid ;
        border-top: #eb9834 .3rem solid;
    }

    .headerDiv2 ul
    {
        padding: 1rem 0;
    }
    .headerDiv2 li
    {
        padding: 0 1rem;
    }
    .headerDiv2 a
    {
        padding: 1rem 0;
        font-size: 1.6rem;
    }

    .headerDiv2 a:hover
    {
        font-size: 1.8rem;
    }
    /* #region SLIDER */
    .slider
    {
        margin: 0 auto;
        width: 100vw;
        height: auto;
        overflow: hidden;
    }
    .slide
    {   
        width: 100vw;
    }
    .slide .slide1title
    {
        -webkit-text-stroke: #eb9834 .05rem;
        font-size: 7.5rem;
        top: 9%;
    }
    .slide .slide2title
    {

        font-size: 5rem;
        top: 10%;

    }
    .slide .slide3title
    {
        font-size: 4rem;
        top: 11%;
    }
    .slide .slide4title
    {
        font-size: 4rem;
        top: 9%;
    }

    .slideManualNav
    {
        margin-top: 1rem;
    }
    .manualBtn
    {
        border: .2rem solid #ffffff;
        padding: .5rem;
    }
    .manualBtn:not(:last-child)
    {
        margin-right: 2rem;
    }

    .slideAutoNav
    {
        margin-top: 1rem;
    }
    .slideAutoNav div
    {
        border: .2rem solid #ffffff;
        padding: .5rem;
    }
    .slideAutoNav div:not(:last-child)
    {
        margin-right: 2rem;
    }
}

@media (min-width:1120.5px) and (max-width: 1919px) {
    .headerDiv1
    {
        padding: 0 2%;
        display: flex;
        justify-content: space-between;

    }

    .headerLogo
    {
        display: flex;
        width: 15%;
    }

    .headerLogo img
    {
        align-self: center;
        width: 100%;
    }

    .headerTitle
    {
        width: 30%;
    }

    .headerTitle h1
    {
        
        user-select: none;
        color: #eb9834;
        font-family: decorFont;
        font-size: 3rem;
        text-align: center;

    }
    .headerTitle span
    {
        font-size: 3.4rem;
    }
    .headerDiv2
    {
        background-color: #313135;
        border-bottom: #eb9834 .3rem solid ;
        border-top: #eb9834 .5rem solid;
    }
    .headerDiv2 ul
    {
        list-style-type: none;

        display: flex;
        justify-content: center;
        margin: 0;
        padding: 3rem 0;
    }
    .headerDiv2 li
    {
        padding: 0 4rem;

        
    }
    .headerDiv2 a
    {
        padding: 2rem 0;
        color: #eb9834;
        font-size: 2rem;
        text-decoration: none;
        font-family: titleFont;
        transition: color 400ms, font-size 400ms;

    }

    .headerDiv2 a:hover
    {
        color: white;
        font-size: 2.2rem;
    }

    /* #region SLIDER */
    .slider
    {
        margin: 0 auto;
        width: 100vw;
        height: auto;
        overflow: hidden;
    }
    .slide
    {   
        width: 100vw;
    }
    .slide .slide1title
    {
        -webkit-text-stroke: #eb9834 .05rem;
        font-size: 13rem;
        top: 20%;
    }
    .slide .slide2title
    {

        font-size: 10rem;
        top: 18%;

    }
    .slide .slide3title
    {
        font-size: 8rem;
        top: 26%;
    }
    .slide .slide4title
    {
        font-size: 8rem;
        top: 26%;
    }

    .slideManualNav
    {
        margin-top: 2rem;
    }
    .manualBtn
    {
        border: .3rem solid #ffffff;
        padding: .8rem;
    }
    .manualBtn:not(:last-child)
    {
        margin-right: 2rem;
    }

    .slideAutoNav
    {
        margin-top: 2rem;
    }
    .slideAutoNav div
    {
        border: .3rem solid #ffffff;
        padding: .8rem;
    }
    .slideAutoNav div:not(:last-child)
    {
        margin-right: 2rem;
    }
    
}

@media (min-width:1680px) and (max-width: 1919px) {
    .headerTitle h1
    {
        
        font-size: 3.4rem;
        text-align: center;

    }
    .headerTitle span
    {
        font-size: 4rem;
    }
    
}
/* #endregion */